{% load render_partial %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'links.html' %}
    <title>
        {% block title %}

        {% endblock %}
    </title>
    {% block custom_link %}

    {% endblock %}
</head>
<body>
{% if messages %}
    {% for message in messages %}
        <div class="{{ message.tags }}" hidden="hidden" id="alert-message">{{ message }}</div>
    {% endfor %}
{% endif %}
{% render_partial 'home_app.views.header_component' %}

{% block content %}

{% endblock %}


{% render_partial 'home_app.views.footer_component' %}
{% include 'scripts.html' %}
{% block custom_script %}

{% endblock %}

{% if messages %}
    <script>
        try {
            let msg_div = document.querySelector("#alert-message")
            if (msg_div.className === "success") {
                Swal.fire({
                    position: "center",
                    icon: msg_div.className,
                    title: msg_div.innerHTML,
                    showConfirmButton: false,
                    timer: 2000
                });
            } else if (msg_div.className === "error") {
                Swal.fire({
                    position: "center",
                    icon: msg_div.className,
                    title: msg_div.innerHTML,
                    showConfirmButton: false,
                    timer: 3000
                });
            }
        } catch (error) {
            console.log("e")
        }
    </script>
{% endif %}
</body>
</html>